#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background: #6a9e6f; /* medium green background */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-anchor: none;
  will-change: transform;
}
h1 {
  margin-bottom: 10px;
  font-size:42px;
  color: #ffffff;
}
.weather-box {
  background: #ffffff; /* pale green boxes */
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 340px;
}

.columns-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

.column {
  flex: 1 1 45%;
  min-width: 150px;
}

.column h3 {
  margin-bottom: 8px;
  font-size: 1.1em;
}

.watered-list,
.rain-list {
  list-style-type: none;
  padding-left: 0;
  color: #222;
}

.watered-list-container {
  overflow-y: auto;
  padding-bottom: 20px;
}

.watered-list li {
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
  animation-delay: 0.05s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* small gap between boxes */
}
#main {
  padding-bottom: 60px;
}
.box {
  flex: 0 0 auto;
}
.box h2 {
  margin-top: 0;
  color: #2d5d34;
}
.box h3 {
  margin-top: 0;
  color: #2d5d34;
}
p {
  color: #2d5d34;
}
#water-button {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: #d4ecd4;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #2d5d34;
  cursor: pointer;
}
#last-watered {
  color: #ffffff;
  margin-top: 10px;
}

.too-many-times {
  color: #ff0000;
  font-size: 24px;
}

#temp-today {
  font-weight: bold;
}

@media (max-width: 410px) {
  h1 {
    font-size: 2.3rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.2rem;
  }
  .weather-box {
    width: 320px;
    padding: 5px;
  }
  
  #water-button {
    padding: 10px;
    margin-top: 25px;
    font-size: 1.4rem;
  }
}